@model VehicleUT.Models.ViewModels.ServiceVM

<form method="post" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Your Vehicle</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="service.VehicleId">Vehicle</label>
                    </div>
                    <div class="col-8">
                        <select id="id" asp-for="service.VehicleId" asp-items="@Model.vehicleSelectList" class="form-control">
                            <option disabled selected>--Select Vehicle--</option>
                        </select>
                        <span asp-validation-for="service.VehicleId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="service.Date"></label>
                    </div>
                    <div class="col-8">
                        <input id="date" onchange="onChange()" asp-for="service.Date" class="form-control" value="" />
                        <span asp-validation-for="service.Date" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="service.Title">Type of Event</label>
                    </div>
                    <div class="col-8">
                        <select id="title" onchange="onChange()" asp-for="service.Title" asp-items="@Model.typeService" class="form-control">
                            <option disabled selected>--Select Service Type--</option>
                        </select>
                        <span asp-validation-for="service.Title" class="text-danger"></span>
                    </div>
                </div>

                <div id="errorCode" class="form-group row" style="display:none">
                    <div class="vol-8 offset-4">
                        <div class="col">
                            <button id="error" class="btn btn-warning w-100">Have an error code?</button>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="service.Location">Name of Location</label>
                    </div>
                    <div class="col-8">
                        <input id="location" asp-for="service.Location" class="form-control" />
                        <span asp-validation-for="service.Location" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="service.Description"></label>
                    </div>
                    <div class="col-8">
                        <input id="description" asp-for="service.Description" class="form-control" />
                        <span asp-validation-for="service.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        Image of Receipt
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div id="reminderO" class="form-group row" style="display: none">
                    <div class="col-4">
                        <label>Set reminder for next service?</label>
                    </div>
                    <div class="col-8">
                        <i id="scheduleNext" class="fas fa-window-close" style="font-size:2em; cursor:pointer"></i>
                        <i id="scheduled" class="fas fa-check-square" style="font-size:2em; color:green; display:none"></i>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="button" class="btn btn-primary w-100" value="Create">Create</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-warning w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="next">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-body">
            <form id="form">
                <input id="Nid" type="text" hidden />
                <input id="Ndate" type="text" hidden />
                <div class="form-group row">
                    <div class="col-6">
                        <input id="vehicle" class="form-control" disabled />
                    </div>
                    <div class="col-6">
                        <input id="Ntitle" type="text" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label>Miles until next service?</label>
                    </div>
                    <div class="col-8">
                        <input id="milesNext" class="form-control" type="number" value="" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Months until next service?</label>
                    </div>
                    <div class="col-8">
                        <input id="timeNext" class="form-control" type="number" value="" />
                        <span class="text-danger" id="warning"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Name of Location</label>
                    </div>
                    <div class="col-8">
                        <input id="Nlocation" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Description</label>
                    </div>
                    <div class="col-8">
                        <input id="Ndescription" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button id="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                        <div class="col">
                            <a id="close" class="btn btn-warning w-100">Close</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="errorSlide">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-body" style="text-align:center">
            <form>
                <div style="padding:20px">
                    <p>Enter your <b>generic</b> diagnostic trouble code. &nbsp;<i class="fas fa-info-circle"></i></p>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2" style="padding-bottom:10px">
                        <input type="text" id="dtc" class="form-control" />
                        <textarea id="dtc_response" style="width:100%" hidden></textarea>
                        <span class="text-danger" id="invalid"></span>
                    </div>
                </div>
                <div class="form-group row" style="padding:20px">
                    <div class="col">
                        <button id="submitError" class="btn btn-primary w-100">Submit</button>
                    </div>
                    <div class="col">
                        <a id="closeError" class="btn btn-warning w-100">Close</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            $('#scheduleNext').click(function () {
                $('#Nid').attr('value', $('#id').val());
                $('#Ndate').attr('value', $('#date').val());
                $('#vehicle').attr('value', $('#id option:selected').text());
                $('#Ntitle').attr('value', $('#title').val());
                $('#Nlocation').attr('value', $('#location').val());
                $('#Ndescription').attr('value', $('#description').val());
                $('#next').modal('show');
                $('#close').click(function () {
                    $('#next').modal('hide');
                });
            });
            $('#submit').click(function (event) {
                event.preventDefault();

                if ($('#timeNext').val().length > 0) {
                    var service = {
                        VehicleId: $('#Nid').val(),
                        Title: $('#Ntitle').val(),
                        Date: $('#Ndate').val(),
                        Location: $('#Nlocation').val(),
                        Description: $('#Ndescription').val(),
                        timeNext: $('#timeNext').val(),
                        milesNext: $('#milesNext').val()
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CreateFuture", "Service")',
                        data: JSON.stringify(service),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function () {
                            alert: ("Success");
                        },
                        error: function () {
                            alert: ("Error while saving");
                        }
                    });
                    $('#scheduleNext').hide();
                    $('#scheduled').fadeIn();
                    $('#next').modal('hide');
                }
                else {
                    $('#warning').text("Enter months until next service");
                }
            });


            $('#error').click(function (event) {
                event.preventDefault();
                $('#errorSlide').modal('show');
                $('#closeError').click(function () {
                    $('#errorSlide').modal('hide');
                })
            });

            $('#submitError').click(function (event) {
                event.preventDefault();
                
                if ($('#dtc').val().length == 5) {
                    $('#invalid').text('');
                    var troublecode = {
                        code: $('#dtc').val()
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Diagnostic", "Service")',
                        data: JSON.stringify(troublecode),
                        datatype: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $('#dtc').hide();
                            $('#dtc_response').removeAttr('hidden');
                            $('#dtc_response').text(data);
                            
                            $('#submitError').css('background-color', 'green');
                            $('#submitError').text("Copy to Description");
                            $('#submitError').click(function (event) {
                                $('#description').val(data);
                                $('#errorSlide').modal('hide');
                                $('#errorCode').slideUp();
                            });
                        },
                        error: function (data) {
                            alert: data;
                        }
                    });
                }
                else {
                    $('#invalid').text("invalid DTC");
                }
            });
        })

        function onChange() {
            if ($('#title').val() == 'Service' && $('#id').val() != null && Date.parse($('#date').val()) - Date.parse(new Date()) < 72000000) { //within 20 hours
                $('#reminderO').slideDown();
                $('#errorCode').slideUp();
            }
            else if ($('#title').val() == 'Issue') {
                $('#errorCode').slideDown();
                $('#reminderO').slideUp();
            }
            else {
                $('#reminderO').slideUp();
                $('#errorCode').slideUp();
            }
        };
    </script>
}
