
@*<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css" />
</head>

<div class="row">
    <div class="column col-8">
        <div id="calendar"></div>
        <p>Calender from <a href="https://fullcalendar.io/">FullCalendar</a></p>
    </div>
    <div class="column">
        Functionality later
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header:
                {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },

                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/Service/GetEvents',
                        type: "GET",
                        dataType: "JSON",

                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        id: data.id,
                                        title: data.title,
                                        description: data.description,
                                        start: moment(data.start).format('YYYY-MM-DD'),
                                        //end: moment(data.end).format('YYYY-MM-DD'),
                                        backgroundColor: data.backgroundColor,
                                        borderColor: "#696969"
                                    });
                            });

                            callback(events);
                        }
                    });
                },

                eventRender: function (event, element) {
                    element.qtip(
                        {
                            content: event.description
                        });
                },

                editable: false
            });
        });
    </script>
}*@